.main_page{
    flex: 1 1 auto;
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    /* margin: 20px; */
}

.main_page_wrapper{
    padding: 0px 20px;
}

.main{
    /* max-width: 840px;
    margin: 0 auto;*/
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;  
}