@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&display=swap');
.header {
    margin-top: 20px;
    font-family: 'EB Garamond', serif;
    display: flex;
    justify-content: space-between;
}

.header__logo {
}

.logo__text {
    
    font-size: 42px;
}

.header__links {
}

.header__menu {
display: flex;
justify-content: space-between;
list-style: none;
}

.menu__item {
    margin-left: 30px;
}

.menu__item > a {
    /* text-decoration: none; */
    font-size: 20px;
    
}
