@font-face {
    font-family: 'Days';
    src: url('../../assets/Days.otf');
}

.tabs {
    max-width: 700px;
    margin: 0 auto;
}
.tabs ul {
    margin: 0;
    padding: 0;
}

.tabs-nav li {
    float: left;
    width: 33.33%;
    list-style: none;
}

.tabs-nav li:first-child a {
    border-right: 0;
    border-top-left-radius: 6px;
}
.tabs-nav li:last-child a {
    border-top-right-radius: 6px;
    border-left: 0;
}
.tabs a {
    font-family: "Days";
    background: #f5f5f5;
    border: 1px solid #cecfd5;
    color: #000;
    display: block;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    list-style: none;
    outline: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.tabs a:hover {
    color: #ff6c00;
}
.tabs-nav a.active{
    color:#ff6c00;
}

.tab-active a {
    background: #fff;
    border-bottom-color: transparent;
    color: #ff6c00;
    cursor: default;
}
.tabs-stage {
    border: 1px solid #cecfd5;
    border-radius: 0 0 6px 6px;
    border-top: 0;
    clear: both;
    padding: 24px 30px;
    position: relative;
    top: -1px;
}

.tabcontent .active .a{

}

div.hide{
    display: none;
}

.tabs .tabheading {
    font-size: 20px;
}